:root {
  background-color: rgba(56, 78, 221, 0.72);
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  border-radius: 10px;
  border-style: solid;
  border-color: navy;
  height: 30px;
  width: 600px;
  padding: 10px;
  padding-left: 0px;
  text-align: start;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

svg {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: -70px;
}

li button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#input {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-color: rgba(20, 20, 22, 0.72);
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
}

input {
  height: 50px;
  width: 800px;
  font-size: 30px;
}

.done {
  background-color: rgb(4, 181, 4);
  text-decoration: line-through;
  opacity: 100%;
  text-align: start;
}

.done:hover {
  transition: 3s;
  opacity: 100;
}

.not-done {
  background-color: rgb(255, 255, 255);
  opacity: 100%;
  display: flex;
  box-shadow: #74c69d 4px 4px 0 0, #000 4px 4px 0 1px;
  text-align: start;
}

.not-done:hover {
  transition: 3s;
  opacity: 100%;
}

#edit-input {
  width: 400px;
  height: 30px;
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
}

#edit-button {
  /* background-color: rgba(50, 68, 187, 0.72); */
  border-color: black;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 5px;
}

#icons-check {
  margin-left: 100px;
}

#icons-check:hover {
  color: white;
}

.fa-square-xmark {
  color: black;
}

.fa-square-xmark:hover {
  color: rgb(255, 0, 0);
}

.fa-pen-to-square {
  color: black;
}

.fa-pen-to-square:hover {
  color: rgb(240, 157, 24);
}

.fa-square-check {
  color: black;
}

.fa-square-check:hover {
  color: rgb(4, 181, 4);
}

.fa-floppy-disk {
  color: rgb(255, 255, 255);
}

.fa-floppy-disk:hover {
  color: rgb(0, 0, 0);
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#submit-button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #74c69d89;
  border-color: black;
  border-style: solid;
  font-size: 20px;
}

#submit-button:hover {
  background-color: #62be90;
}

#test-square {
  height: 100px;
  width: 100px;
  background-color: orange;
  justify-content: center;
}

.hidden {
  display: none;
}
